html {
    background-color: lightgray;
}

body {
    background: #f1f1f1;
    width: 70%;
    margin: auto;
    padding: 1%;
}

/************************* MENU ***********************************************/
.active > a, .active {
    background-color: #008CBA;
    color: white;
}

.dropdown {
    text-align: center;
}

.menu li {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    margin-left: -3px;
}

.menu li a {
    padding: 10px;
}

.dropdown .sub li {
    display: block;
}

.menu li a:hover, .menu li:hover, .menu li:hover > a {
    background-color: #008CBA;
    color: white;
}

.dropdown .sub {
    z-index: 999;
    display: none;
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
    text-align: left;
    border: 2px solid #008CBA;
    background-color: #f1f1f1;
}

.dropdown #first-drop:hover > ul.sub {
    display: block;
}

/********************* FOS OVERRIDE LOGIN PAGE ********************************/
.login-page .columns .register, .register-page .columns .login {
    display: block;
    font-size: 12px;
    text-align: center !important;
    margin-top: -15px;
}

.login-page .columns .button#_submit {
    display: block;
    margin: auto !important;
}

/*************************** FOS OVERRIDE PAGES *******************************/

.fos_user_registration_register input[type=submit], .fos_user_profile_edit input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out;
    display: block;
    margin: auto;
}

.fos_user_profile_edit a, .fos_user_user_show a {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #7B0200;
    margin-top: 10px;
}

/*************************** MATIERES *******************************/

.matieres-table {
    display: inline-block;
    vertical-align: top;
    border: none;
}

.matieres-legend {
    color: red;
    text-align: center;
}
