{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
  <div class="small-10 medium-4 medium-centered columns">
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a href="/">Retourner à l'Accueil</a>
    </div>
  </div>
</div>
