{% include 'IntranetBundle:Default:header.html.twig' %}
<div class="row">
    <div class="small-10 medium-5 medium-centered columns">
        <table class="table-max-width">
            <tr>
                {% for matieres in user_matieres %}
                    <th>{{ matieres.name }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% if user.matieres|length != 0 %}
                    {% for matieres in user_matieres %}
                        {% set mine = false %}
                        {% for matiere in user.matieres %}
                            {% if matieres.name in matiere.name %}
                                {% set mine = true %}
                            {% endif %}
                        {% endfor %}
                        {% if mine == true %}
                            <td class="matieres-legend">X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                {% endif %}
            </tr>
        </table>
        {% if user.matieres|length == 0 %}
            <div>
                Vous n'avez pas encore de matières pour le moment !
            </div>
        {% endif %}
    </div>
</div>
{% include 'IntranetBundle:Default:footer.html.twig' %}
