{% include 'IntranetBundle:Default:header.html.twig' %}
Matieres here !

{% for matiere in matieres %}
    <li>
        {{ matiere.name }} <br>
    </li>
{% endfor %}

{% include 'IntranetBundle:Default:footer.html.twig' %}