{% block menu %}
    <aside>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/profil">Profil</a></li>
                <li><a href="/notes">Note</a></li>
                <li><a href="/matieres">Matières</a></li>
            </ul>
        </nav>
    </aside>
{% endblock menu %}