{% include 'IntranetBundle:Default:header.html.twig' %}
<div class="">
    <h2>USERS :</h2>
    <ul>
        {% for user in users %}
            <li>
                <a href="/userProfil/{{ user.id }}">{{ user.username }}</a><br>
            </li>
        {% endfor %}
    </ul>
</div>
{% include 'IntranetBundle:Default:footer.html.twig' %}
