{% include 'IntranetBundle:Default:header.html.twig' %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
    <div class="add_user">
        <h2>Ajouter un utilisateur :</h2>
        <iframe src="/register" width="300px" height="300px"></iframe>
    </div>
    <div class="">
        <h2>USERS :</h2>
        <ul>
            {% for user in users %}
                <li>
                    {{ user.username }} <br>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <script type="text/javascript">
        window.location.replace("/");
    </script>
{% endif %}
{% include 'IntranetBundle:Default:footer.html.twig' %}