{% include 'IntranetBundle:Default:header.html.twig' %}
USERS :<br>
<ul>
{% for user in users %}
<li>
    {{ user.username }} <br>
    {% for note in user.notes %}
    <ul>
        <li>{{ note.points }}</li>
    </ul>
    {% endfor %}
</li>
{% endfor %}
</ul>
{% include 'IntranetBundle:Default:footer.html.twig' %}
