{% include 'IntranetBundle:Default:header.html.twig' %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
USERS :<br>
<ul>
    {% for user in users %}
        <li>
            {{ user.username }} <br>
            {% for note in user.notes %}
                <ul>
                    <li>{{ note.points }}</li>
                    <ul>
                      <li>{{ note.commentaires }}</li>
                    </ul>
                </ul>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% else %}
<script type="text/javascript">
  window.location.replace("/");
</script>
{% endif %}
{% include 'IntranetBundle:Default:footer.html.twig' %}
